documentation/schemas/circuit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="circuits">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="circuit" type="CircuitType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="circuit" type="CircuitType"/>

  <xs:complexType name="CircuitType">
    <xs:sequence>
      <xs:element name="id"         type="xs:string"  minOccurs="0"/>
      <xs:element name="circuitId"  type="xs:integer" minOccurs="0"/>
      <xs:element name="circuitRef" type="xs:string"/>
      <xs:element name="name"       type="xs:string"/>
      <xs:element name="location"   type="xs:string"/>
      <xs:element name="country"    type="xs:string"/>
      <xs:element name="lat"        type="xs:decimal"/>
      <xs:element name="lng"        type="xs:decimal"/>
      <xs:element name="alt"        type="xs:integer" minOccurs="0" nillable="true"/>
      <xs:element name="url"        type="xs:anyURI"  minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>